
body{
    padding-top: 50px;
}
img{
    width: 200px;
    height: 200px;
}
.inside{
    width: 200px;
    height: 345px;
    background-color: rgb(134, 117, 117);
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
}

.form-div{
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
}
input{
    width: 100%;
    border: 2px solid rgba(139, 114, 114, 0.753);
    background-color: rgb(245, 219, 219);
}
